{% extends 'base.html.twig' %}
{% block title %}Usuari nou{% endblock %}
{% block body %}
    <br>
    <div class="contenidor">
        <h1>Nou Usuari</h1>
        {{ form_start(formulari) }}
        {{ form_widget(formulari) }}
        {{ form_end(formulari) }}
    </div>
{% endblock %}